.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: white;
}

.headerHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;

}

.headerHeading:hover {
    cursor: pointer;
}

.headerHeading img {
    width: 2rem;
    height: 2rem;
}